//Variables
$mainColor: #ffffff;
$secondaryColor: #006198;
$thirdColor: #002940;
$highlightColor: #01adef;




//Mixins
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
